language: android

android:
  components:
    - tools # to get the new `repository-11.xml`
    - tools # see https://github.com/travis-ci/travis-ci/issues/6040#issuecomment-219367943)
    - platform-tools
    - build-tools-24.0.2
    - android-24

jdk:
  - oraclejdk8

addons:
  apt:
    packages:
      - oracle-java8-installer

notifications:
  email: false
  slack:
    rooms:
      - csploit:BYr15dcnal0Dm6UZRafBqWSC#travis

install:
  - nvm install 8.1.1
  - nvm use 8.1.1
  - echo y | android update sdk --no-ui --all --filter android-24

script:
  - npm install
  - npm run build
  - npm run android
  
release:
  - exit 0  
